/*CSS Style Page*/
*{
    margin:0;
    padding:0;
}
.title{
    color:rgb(255, 0, 0);
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-size:30px;
    font-weight:120;
}

body {
    background-color:#f4f4f4;
    color:#555;
    font-size: 16px;
    line-height:1.6em;
    margin:0;
    
}

.container{
    width: 80%;
    margin: auto;
    overflow:hidden;
}

#main-header{
    background-color:#00FFFF;
}

.loginlink{
   background-color:white;
   color:black;
   border: 2x linear-gradient(to right,  #3cba54, #f4c20d	,#db3236, #4885ed)

    
}

.Description-Box{
    
    border:3px blue solid;
    color:black;
    padding: 20px;
    width:50%;
}

